.hero {
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    padding: 14.7rem 0;

    @include min-screen($xl) {
        padding: 0;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 2.8rem;
    }
}

.hero-header {
    .hero-content-holder {
        @include min-screen($xl) {
            min-height: 60rem;
        }
    }
}
