.pagination {
    display: inline-block;
    font-size: 1.4rem;
    margin: 2rem -0.5rem;

    li {
        float: left;
        padding: 0 .5rem;

        &.prev, &.next {
            .icon {
                display: inline-block;
                line-height: 1;
                vertical-align: middle;
            }
        }

        &.is-active {
            color: $info;
        }
    }
}